<div>
    <form>
      <div>
          <label>User's name
            <input type="text" ng-model="userName"/>
          </label>
      </div>

      <div>
          <label>User's email address
            <input type="text" ng-model="userEmail"/>
          </label>
      </div>
    </form>

    <a href="" ng-click="createUser()">Create User</a>

    <ul>
        <li class="err" ng-repeat="error in errors"> {{error}} </li>
    </ul>
    <ul>
        <li class="info" ng-repeat="msg in msgs"> {{msg}} </li>
    </ul>
</div>
