 
<div >

  <h2>Delete a User Record</h2>
  
  <form>
    <table>
      <thead>
        <tr>
          <th><pre>    </pre></th>
          <th><pre>ID     </pre></th>
          <th><pre>Name         </pre></th>
          <th><pre>Email        </pre></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>
            <input type="radio" name="userRecords" ng-click="changeUserToDelete(user.id)" ng-model="userToDelete">
          </td>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </form> 
  
  <p>
    <a href="" ng-click="deleteUser(userToDelete)">Delete User</a> 
    <pre>   {{userToDelete}}</pre>
  </p>
  
  <ul>
      <li ng-repeat="error in errors"> {{error}} </li>
  </ul>
  <ul>
      <li ng-repeat="msg in msgs"> {{msg}} </li>
  </ul>  

</div>
