
  <!-- Feature Article -->
  <div class="row bumpPastTopbar" data-equalizer my-reflow-panels>
    <div class="columns small-12 medium-6 large-6 featureColorImage panel" data-equalizer-watch>
      <slick class="slider featureCarousel" 
                infinite=true  
                dots=true 
                autoplay=true 
                autoplayspeed=3000 
                fade=true  >
          <div class="image">
            <img src="img/city1.jpg" alt="City picture 1" />
          </div>
          <div class="image">
            <img src="img/city2.jpg" alt="City picture 2" />
          </div>
          <div class="image">
            <img src="img/city3.jpg" alt="City picture 3" />
          </div>
          <div class="image">
            <img src="img/city4.jpg" alt="City picture 4" />
          </div>
          <div class="image">
            <img src="img/city5.jpg" alt="City picture 5" />
          </div>
          <div class="image">
            <img src="img/city6.jpg" alt="City picture 6" />
          </div>
          <div class="image">
            <img src="img/city7.jpg" alt="City picture 7" />
          </div>
          <div class="image">
            <img src="img/city8.jpg" alt="City picture 8" />
          </div>
          <div class="image">
            <img src="img/city9.jpg" alt="City picture 9" />
          </div>
          <div class="image">
            <img src="img/city10.jpg" alt="City picture 10" />
          </div>
      </slick>
    </div>

    <div class="columns small-12 medium-6 large-6 featureColorText panel" data-equalizer-watch>
      <h4>New Construction in Deer Park</h4>
      <p class="text-justify">This feature article lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget ipsum porta, interdum nulla sed, sagittis ipsum. Fusce et luctus lectus, sed placerat purus. Donec consequat et metus eu tempor. Nulla mollis massa nec efficitur venenatis. Donec lectus nisl, mollis sodales justo id, tempus tempor ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in augue vitae ipsum hendrerit tristique. Suspendisse non neque sit amet felis feugiat fermentum. Aliquam eget lectus tristique, rhoncus mi eget, lacinia massa. Nunc sapien nisl, iaculis sed lectus id, porttitor hendrerit justo. Nunc odio est, blandit ac ullamcorper nec, ullamcorper vel orci. Sed vitae tempus erat, et semper nisi. </p>
      <a href="#">Read more...</a>
    </div>
  </div>

<!-- In-line Articles -->
  <div class="row" data-equalizer>
    <div class="columns small-12 medium-6 large-4 panel articleColorA" data-equalizer-watch>
      <img class="hide-for-small-only" src="img/people1.jpg" alt="Image for people article."/>
      <h5>People Article</h5>
      <p>This people article lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget ipsum porta, interdum nulla sed, sagittis ipsum. Quisque finibus euismod sem, vel semper libero pulvinar et. Vivamus mattis nunc ut fermentum sagittis. Vestibulum sit amet dui tortor. </p>
      <a href="#">Read more...</a>
    </div>

    <div class="columns small-12 medium-6 large-4 panel articleColorB" data-equalizer-watch>
      <img class="hide-for-small-only" src="img/nature1.jpg" alt="Image for nature article." />
      <h5>Nature Article</h5>
      <p>This nature article suspendisse pretium finibus enim, et cursus mauris venenatis sed. Nulla venenatis lacus nec enim semper congue. </p>
      <a href="#">Read more...</a>
    </div>

    <div class="columns small-12 medium-6 large-4 panel articleColorC" data-equalizer-watch>
      <img src="img/food1.jpg" alt="Image for food article." />
      <h5>Food Article</h5>
      <p>This food article donec pellentesque nibh neque, vel vestibulum sapien rhoncus congue. Phasellus ligula sem, maximus sed justo eget, dapibus lobortis odio. </p>
      <a href="#">Read more...</a>
    </div>

    <div class="columns small-12 medium-6 large-4 panel articleColorC" data-equalizer-watch>
      <video controls class="onsiteVideo">
        <source src="videos/Natural_Gas_video.ogg"  type="video/ogg">
        <track label="English" kind="subtitles" srclang="en" src="videos/Natural_Gas_captions.vtt" default>
      </video>
      <h5>Natural Gas Drilling in Deer Park</h5>
      <p>This article on natural gas is on-site suspendisse pretium finibus enim, et cursus mauris venenatis sed. Nulla venenatis lacus nec enim semper congue. Suspendisse pretium sapien tortor, non feugiat est facilisis ac. Aenean fringilla tempor congue. </p>
    </div>

    <div class="columns small-12 medium-6 large-4 panel articleColorA left" data-equalizer-watch>
      <div>
        <iframe class="youtubeVideo" src="//www.youtube.com/embed/ImKY6TZEyrI" allowfullscreen></iframe>
      </div>
      <h5>Deer Park Fades Away</h5>
      <p>This music video is offsite donec pellentesque nibh neque, vel vestibulum sapien rhoncus congue. Phasellus ligula sem, maximus sed justo eget, dapibus lobortis odio. Proin ac feugiat massa. Maecenas rhoncus accumsan libero, quis vulputate ligula molestie in. Suspendisse potenti. </p>
    </div>
  </div>

  <!-- Advertising -->
  <div class="row" data-equalizer>
    <div class="columns small-12 medium-6 large-6 panel" data-equalizer-watch>
      <img class="adGraphics" src="img/comeinwereopen.svg" alt="Advertising, sign"/>
    </div>

    <div class="columns small-12 medium-6 large-6 panel" data-equalizer-watch>
      <img class="adGraphics" src="img/studio-bcard-white.svg" alt="Advertising, business card"/>
    </div>
  </div>
