
  <div class="bumpPastTopbar" my-reflow-panels>

    <!-- Feature Article Panels -->
    <div class="row" data-equalizer="eq-feature">
      <div class="columns small-12 medium-6 large-6 featureColorImage panel" 
           data-equalizer-watch="eq-feature">
        <slick class="slider featureCarousel" dots=true infinite=true fade=true autoplay=true speed=3000>
            <div class="image" ng-repeat="slide in slides">
              <img src="{{slide.src}}" alt="{{slide.alt}}" />
            </div>
        </slick>
      </div>

      <div class="columns small-12 medium-6 large-6 featureColorText panel" 
           data-equalizer-watch="eq-feature">
        <h4>New Construction in Deer Park</h4>
        <p class="text-justify">This feature article lorem ipsum dolor sit amet...</p>
        <a href="#">Read more...</a>
      </div>
    </div>

    <!-- In-line Article Panels -->
    <div class="row" data-equalizer="eq-inline">
      <div ng-repeat="inline in inlines" 
           class="columns small-12 medium-6 large-4 panel left {{colorCycle($index)}}"
           data-equalizer-watch="eq-inline">
        <img ng-class="{'hide-for-small-only': inline.hfso }" src="{{inline.src}}" alt="{{inline.alt}}"/>
        <h5>{{inline.title}}</h5>
        <p>{{inline.text}}</p>
        <a href="inline.readmore">Read more...</a>
      </div>
    </div>

    <!-- Video Panels -->
    <div class="row" data-equalizer="eq-videos">
      <div ng-repeat="video in videos" 
           ng-switch="video.videosite" 
           class="columns small-12 medium-6 large-4 panel left {{colorCycle($index)}}" 
           data-equalizer-watch="eq-videos">

        <div ng-switch-when="onsite">
            <video controls>
              <source src="{{video.src}}" type="{{video.videotype}}">
            </video>
            <h5>{{video.title}}</h5>
            <p>{{video.text}}</p>
        </div>

        <div ng-switch-when="youtube">
          <youtube-video video-url="video.src" player-height="'auto'" player-width="'auto'"></youtube-video>
          <h5>{{video.title}}</h5>
          <p>{{video.text}}</p>
        </div>

        <!-- No video available -->
        <div ng-switch-default>
          <img src="{{video.src}}" alt="{{video.title}}"/>
          <h5>{{video.title}}</h5>
          <p>{{video.text}}</p>
        </div>

      </div>
    </div>

    <!-- Advertising Panels -->
    <div class="row" data-equalizer="eq-ads">
      <div ng-repeat="ad in ads" 
           class="columns small-12 medium-6 large-4 panel left" 
           data-equalizer-watch="eq-ads">
        <img class="adGraphics" src="{{ad.src}}" alt="{{ad.alt}}"/>
      </div>
    </div>

  </div>
