
  <div class="row" data-equalizer my-reflow-panels>
    <div class="columns small-12 medium-6 large-6 featureColorImage panel" data-equalizer-watch>
      <div class="slider featureCarousel">
        <div>
          <div class="image">
            <img src="img/city1.jpg" alt="City picture 1" />
          </div>
        </div>
        <div>
          <div class="image">
            <img src="img/city2.jpg" alt="City picture 2" />
          </div>
        </div>
        <div>
          <div class="image">
            <img src="img/city3.jpg" alt="City picture 3" />
          </div>
        </div>
        <div>
          <div class="image">
            <img src="img/city4.jpg" alt="City picture 4" />
          </div>
        </div>
        <div>
          <div class="image">
            <img src="img/city5.jpg" alt="City picture 5" />
          </div>
        </div>
        <div>
          <div class="image">
            <img src="img/city6.jpg" alt="City picture 6" />
          </div>
        </div>
        <div>
          <div class="image">
            <img src="img/city7.jpg" alt="City picture 7" />
          </div>
        </div>
        <div>
          <div class="image">
            <img src="img/city8.jpg" alt="City picture 8" />
          </div>
        </div>
        <div>
          <div class="image">
            <img src="img/city9.jpg" alt="City picture 9" />
          </div>
        </div>
        <div>
          <div class="image">
            <img src="img/city10.jpg" alt="City picture 10" />
          </div>
        </div>
      </div>
    </div>

    <div class="columns small-12 medium-6 large-6 featureColorText panel" data-equalizer-watch>
      <h4>New Construction in Deer Park</h4>
      <p class="text-justify">This feature article lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget ipsum porta, interdum nulla sed, sagittis ipsum. Fusce et luctus lectus, sed placerat purus. Donec consequat et metus eu tempor. Nulla mollis massa nec efficitur venenatis. Donec lectus nisl, mollis sodales justo id, tempus tempor ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in augue vitae ipsum hendrerit tristique. Suspendisse non neque sit amet felis feugiat fermentum. Aliquam eget lectus tristique, rhoncus mi eget, lacinia massa. Nunc sapien nisl, iaculis sed lectus id, porttitor hendrerit justo. Nunc odio est, blandit ac ullamcorper nec, ullamcorper vel orci. Sed vitae tempus erat, et semper nisi. </p>
      <a href="#">Read more...</a>
    </div>
  </div>
