
  <div class="row bumpPastTopbar" my-reflow-panels data-equalizer>
    <h4>Deer Park Neighborhood Association Officers</h4>

    <div class="columns small-12 medium-6 large-6 panel officerPanelA" data-equalizer-watch>
      <div class="row">
        <div class="column large-4 officerPanelA">
        <img class="officerPicture" src="https://static.pexels.com/photos/6110/man-holiday-people-face.jpg" alt="A picture of a DPNA officer."/>
        </div>
      
        <div class="column large-6 left officerPanelA">
        <p>Stephen Dyer, co-President</p>
        <p>stephen.dyer@dpnatest.com</p>
        </div>
      </div>
    </div>
    
    <div class="columns small-12 medium-6 large-6 panel officerPanelA" data-equalizer-watch>
      <div class="row">
        <div class="column large-4 officerPanelA">
        <img class="officerPicture" src="https://static.pexels.com/photos/6110/man-holiday-people-face.jpg" alt="A picture of a DPNA officer."/>
        </div>
      
        <div class="column large-6 left officerPanelA">
        <p>Stephen Dyer, co-President</p>
        <p>stephen.dyer@dpnatest.com</p>
        </div>
      </div>
    </div>
    
    <div class="columns small-12 medium-6 large-6 panel officerPanelA" data-equalizer-watch>
      <div class="row">
        <div class="column large-4 officerPanelA">
        <img class="officerPicture" src="https://static.pexels.com/photos/6110/man-holiday-people-face.jpg" alt="A picture of a DPNA officer."/>
        </div>
      
        <div class="column large-6 left officerPanelA">
        <p>Stephen Dyer, co-President</p>
        <p>stephen.dyer@dpnatest.com</p>
        </div>
      </div>
    </div>

    <div class="columns small-12 medium-6 large-6 panel officerPanelA" data-equalizer-watch>
      <div class="row">
        <div class="column large-4 officerPanelA">
        <img class="officerPicture" src="https://static.pexels.com/photos/6110/man-holiday-people-face.jpg" alt="A picture of a DPNA officer."/>
        </div>
      
        <div class="column large-6 left officerPanelA">
        <p>Stephen Dyer, co-President</p>
        <p>stephen.dyer@dpnatest.com</p>
        </div>
      </div>
    </div>

<!--       <div class="columns small-12 medium-6 large-6 panel officerPanelB" data-equalizer-watch>
      <img class="officerPicture" src="img/ant-sho-pic.svg" alt="A picture of a DPNA officer."/>
      <p>Anthony Short, co-President</p>
      <p>anthony.short@dpnatest.com</p>
    </div>

    <div class="columns small-12 medium-6 large-6 panel officerPanelB" data-equalizer-watch>
      <img class="officerPicture" src="img/vic-col-pic.svg" alt="A picture of a DPNA officer."/>
      <p>Victoria  Coleman, Treasurer</p>
      <p>victoria.coleman@dpnatest.com</p>
    </div>

    <div class="columns small-12 medium-6 large-6 panel officerPanelA" data-equalizer-watch>
      <img class="officerPicture" src="img/luc-vau-pic.svg" alt="A picture of a DPNA officer."/>
      <p>Luke  Vaughan, Secretary</p>
      <p>luke.vaughan@dpnatest.com</p>
    </div>
  </div> -->

  <div class="row" data-equalizer>
    <p><h4>Deer Park Neighborhood Association Board Members</h4></p>

    <div class="columns small-12 medium-6 large-6 panel boardMemeberPanelA" data-equalizer-watch>
      <div class="row">
        <div class="column large-4">
          <img class="boardMemberPicture" src="https://static.pexels.com/photos/27119/pexels-photo.jpg" alt="A picture of a DPNA board member."/>
        </div>
        <div class="column large-6 left">
          <p>Gabrielle Metcalfe</p>
          <p>gabrielle.metcalfe@dpnatest.com</p>
        </div>
      </div>
    </div>
    
    <div class="columns small-12 medium-6 large-6 panel boardMemeberPanelA" data-equalizer-watch>
      <div class="row">
        <div class="column large-4">
          <img class="boardMemberPicture" src="https://static.pexels.com/photos/27119/pexels-photo.jpg" alt="A picture of a DPNA board member."/>
        </div>
        <div class="column large-6 left">
          <p>Gabrielle Metcalfe</p>
          <p>gabrielle.metcalfe@dpnatest.com</p>
        </div>
      </div>
    </div>

    <div class="columns small-12 medium-6 large-6 panel boardMemeberPanelA" data-equalizer-watch>
      <div class="row">
        <div class="column large-4">
          <img class="boardMemberPicture" src="https://static.pexels.com/photos/27119/pexels-photo.jpg" alt="A picture of a DPNA board member."/>
        </div>
        <div class="column large-6 left">
          <p>Gabrielle Metcalfe</p>
          <p>gabrielle.metcalfe@dpnatest.com</p>
        </div>
      </div>
    </div>


    <div class="columns small-12 medium-6 large-6 panel boardMemeberPanelA" data-equalizer-watch>
      <div class="row">
        <div class="column large-4">
          <img class="boardMemberPicture" src="https://static.pexels.com/photos/27119/pexels-photo.jpg" alt="A picture of a DPNA board member."/>
        </div>
        <div class="column large-6 left">
          <p>Gabrielle Metcalfe</p>
          <p>gabrielle.metcalfe@dpnatest.com</p>
        </div>
      </div>
    </div>      
    
<!--       <div class="columns small-12 medium-6 large-4 panel boardMemeberPanelB" data-equalizer-watch>        
      <img class="boardMemberPicture" src="img/pen-mit-pic.svg" alt="A picture of a DPNA board member."/>
      <p>Penelope  Mitchell</p>
      <p>penelope.mitchell@dpnatest.com</p>
    </div>

    <div class="columns small-12 medium-6 large-4 panel boardMemeberPanelC" data-equalizer-watch>
      <img class="boardMemberPicture" src="img/dav-fer-pic.svg" alt="A picture of a DPNA board member."/>
      <p>David Ferguson</p>
      <p>david.ferguson@dpnatest.com</p>
    </div>

    <div class="columns small-12 medium-6 large-4 panel boardMemeberPanelC" data-equalizer-watch>
      <img class="boardMemberPicture" src="img/eri-ker-pic.svg" alt="A picture of a DPNA board member."/>
      <p>Eric  Kerr</p>
      <p>eric.kerr@dpnatest.com</p>
    </div>

    <div class="columns small-12 medium-6 large-4 panel boardMemeberPanelB" data-equalizer-watch>
      <img class="boardMemberPicture" src="img/dor-mar-pic.svg" alt="A picture of a DPNA board member."/>
      <p>Dorothy Martin</p>
      <p>dorothy.martin@dpnatest.com</p>
    </div>

    <div class="columns small-12 medium-6 large-4 panel boardMemeberPanelA" data-equalizer-watch>
      <img class="boardMemberPicture" src="img/car-und-pic.svg" alt="A picture of a DPNA board member."/>
      <p>Carolyn Underwood</p>
      <p>carolyn.underwood@dpnatest.com</p>
    </div> -->

  </div>