
  <div id="top" class="bumpPastTopbar" my-reflow-panels>
    <h4><br><br><br></h4>
    <div class="row" data-equalizer>
      <div class="columns small-12 medium-6 large-6 greenA panel" data-equalizer-watch>
        <img src="{{article[0].image}}" alt="Article image"/>
      </div>

      <div class="columns small-12 medium-6 large-6 greenB panel" data-equalizer-watch>
        <h4>{{article[0].title}}</h4>
        <p style="white-space:pre-wrap;">{{article[0].text}}</p>
      </div>
    </div>

  </div>
