
  <div class="contain-to-grid fixed topbar">
    <nav class="top-bar">
      <img class="deerLogo hide-for-small-only left"
            src="img/deer-logo-256px.jpeg"
            alt="Deerpark logo" />

      <a class="main-logo left">
        <h4 id="dpnaText">Deer Park Neighborhood Association</h4>
      </a>

      <a href="#"
         data-options="ignore_repositioning is_hover:false"
         class="menuButton button right"
         data-dropdown="drop">
        <i class="fi-list"></i>
      </a>
      
      <ul id="drop" class="f-dropdown right">
        <li><a href="#/">Home</a></li>
        <li><a href="#/services">Services</a></li>
        <li><a href="#/blogs">Blogs</a></li>
        <li><a href="#/officers">Officers</a></li>
        <li><a href="#/archive">Archive</a></li>
      </ul>
    </nav>
  </div>
  